
/* Limpiador que se encarga de limpiar las propiedades predefinidas de la pagina*/

body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    line-height: 1;
}

.layout-title{
    color: darkgreen;
}

body > h1{
    text-align: center;
    margin-top: 5vh;
    font-size: 3vw;
}

p{
    text-align: center;
    padding: 0vh 10vw;
    font-size: 2vw;
}

div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.5vw;
}

div > p{
    margin: 0px;
}

div > input{
    margin-bottom: 3vh;
}

button{
    background-color: rgba(144, 238, 144, 0.855);
    border-color: green;
    border-radius: 8px;
    padding: 1vh 1vw;
    font-size: 70%;
    color: white;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: rgba(144, 238, 144, 1);
}

a{
    text-decoration: none;
    color: white;
}