//- html 
//-     head   
//-         link(rel="stylesheet", href="/css/luisStyles.css")        
//-         block title 
//-             title Backend of the Rings
//-     body 
//-         block content
//-             h1(class="layout-title") EL SEÑOR DE LOS ANILLOS
//-             p Bienvenido al fantastico mundo del señor de los anillos, para difrutar del juego online de el señor de los anillos lo primero que tienes que hacer es ingresar con tu usario, en caso de no tener usuario puedes registrarte totalmente gratis.
//-             div 
//-                 include login2