html 
    head   
        link(rel="stylesheet", href="/css/styles.css")        
        block title 
            title Personajes 
    body 
        include navbar 
        block content
            h1(class="layout-title") Personajes
