html 
    head   
        link(rel="stylesheet", href="/css/styles.css")        
        block title 
            title Señor de los anillos 
    body 
        include navbar 
        block content
            h1(class="layout-title") JUEGO DEL SEÑOR DE LOS ANILLOS

