nav(class="navbar")
    ul(class="nav-elements")
   
        li(class="nav-link") 
            a(href="/character") Personajes 
        li(class="nav-link")
            a(href="/user") Lista de usuarios 
    form(action="/user/logout", method="post", class="logout-form") 
        button(type="submit", class="btn-logout") Logout
