nav(class="navbar")
    ul(class= "nav-elements")
        li(class="nav.link")  
            a(href="/user/login") Login
        li(class="nav.link") 
            a(href="/character") Personajes 
        li(class="nav.link")
            a(href="/") Armas 
        li(class="nav.link")
            a(href="/user") lista de usuarios 
