nav(class="navbar")
    ul(class= "nav-elements")
        li(class="nav.link")  
            a(href="/user/login") Login
        li(class="nav.link") 
            a(href="/character") Personajes 
        li(class="nav.link")
            a(href="/user") Lista de usuarios 
        li(class="nav.link") 
            form(action="/user/logout", method="post") 
                button(type="submit") Logout
