html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inicio de Sesión
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container
      h1= race
      h2(class="layout-title")  Crear Personaje
      if error 
      p(class="error")= error
      form(action="/character/mapa", method="get")

        //- Menú desplegable para el arma
        input(type="hidden" value=race name="Race_id")
        input(type="hidden" value=nombre name="Name")
        label(for="Weapon_id") Arma:
        select(id="Weapon_id", name="Weapon_id")
          option(value="sword") Espada
          option(value="bow") Arco
          option(value="axe") Hacha
          //- Agrega más opciones según sea necesario


        a(href=".character/mapa")
        button Continuar 

