extends ../layout

block content 
    h1 lista de personajes
    if error 
        p(class = "error")= error 
    if data
        ul 
            each character in data  
                li
                    a(href="/character/"+character.Character_id)= character.Name
    
    a(href="./character/new")
        button seleccionar /crear personaje vbw