extends ../layout

block content 
    .container

        h1 Lista de personajes
        if error 
            p.error= error 
        if data
            .container
                ul 
                    each character in data  
                        li.personajeid.character-card
                            span= character.Name
                            div
                                a(href=`/character/${character.Character_id}`, class="btn-personajes")
                                    button.play-button Jugar

                                //-form(action=`/character/${character.Character_id}/remove`, method="post",) 
                                     button(class="play-button btn-personajes", type="submit") Borrar

                a(href="./character/raza")
                    button.btn-crear Crear personaje

