extends ../layout

block content 
    .container

        h1 Lista de personajes
        if error 
            p.error= error 
        if data
            .container
                ul 
                    each character in data  
                        li.personajeid.character-card
                            span= character.Name
                            a(href=`/character/${character.Character_id}`)
                                button.play-button Jugar
                a(href="./character/raza")
                    button.btn-crear Crear personaje
