doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Crear Personaje
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container
      h1= race
      h2(class="layout-title") Crear Personaje
      if error 
      p(class="error")= error
      form(action="/character/list", method="get")
        input(type="hidden", name="Race_id", value=race)
        input(type="hidden", name="Weapon_id", value=weapon)
        label(for="Map_id") Mapa:
        select(id="Map_id", name="Map_id")
          option(value="forest") Bosque
          option(value="desert") Desierto
          option(value="mountain") Montaña
        button(type="submit") Comenzar
