html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inicio de Sesión
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container

      h2(class="layout-title")  Crear Personaje
      if error 
      p(class="error")= error
      form(action="/character/armas", method="get")
        //- Menú desplegable para la raza
        label(for="Race_id") Raza:
        select(id="Race_id", name="Race_id")
          option(value="Wizard") Mago
          option(value="elf") Elfo
          option(value="human") Humano
          option(value="Hobbit") Hobbit
          option(value="dwarf") Enano
          //- Agrega más opciones según sea necesario
        button Continuar

