doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inicio de Sesión
    link(rel="stylesheet", href="/css/luisStyles.css")
  body    
    block content
      .container
        h1(class="layout-title") BACKEND OF THE RINGS
        p Bienvenido al fantastico mundo del señor de los anillos, para difrutar del juego online de el señor de los anillos lo primero que tienes que hacer es ingresar con tu usario, en caso de no tener usuario puedes registrarte totalmente gratis.
        div
          h2(class="layout-title") Iniciar Sesión
          if error 
            p(class="error")= error
          form(action="/user/login", method="post")
            div
              label(for="Email") Correo electronico:
              input(type="text", id="Email", name="Email")
            div
              label(for="Password") Contraseña:
              input(type="password", id="Password", name="Password")
            button(type="submit") Iniciar Sesión

          h2 ¿Aún no tienes una cuenta?
          button(type="button") 
            a(href="./singup") Registrarse
