extends ../layout

block content
    .container
        h1 Lista de usuarios
        if error 
            p(class="error")= error
        if data
            ul
                each usuario in data 
                    li
                        .user-card
                            p= usuario.Name
                            form(action=`/user/${usuario.User_id}/update`, method="get")
                                button.btn(type="submit") Editar
                            form(action=`/user/${usuario.User_id}/remove`, method="post" onsubmit="return confirm('R U sure?');")
                                button.btn(type="submit") Borrar
