extends ../layout

block content
    if error 
        p(class="error")= error
    if usuario 
        h2= usuario.Name 
        p Es administador: #{usuario.Is_admin==1 ? 'si': 'no'} 
        p= usuario.Email

    a(href="/user")
        button Volver