extends ../layout

block content
    h1 lista de usuarios
    if error 
        p(class="error")= error
    if data
        ul
            each usuario in data 
                li
                    a(href="/user/"+usuario.User_id)= usuario.Name
                    a(href=`/user/${usuario.User_id}/update`) 
                        button Editar
                    form(action=`/user/${usuario.User_id}/remove`, method="post") 
                        button(type="submit") Borrar
