doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inicio de Sesión
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container
      h2(class="layout-title") Iniciar Sesión
      form(action="/login", method="post")
        label(for="Email") Correo electronico:
        input(type="text", id="Email", name="Email", required)
        label(for="Password") Contraseña:
        input(type="Password", id="Password", name="Password", required)
        button(type="submit") Iniciar Sesión

    .container
      h2(class="layout-title")  Crear cuenta
      if error 
      p(class="error")= error
      form(action="/login", method="post")
        label(for="Email") Correo electronico:
        input(type="text", id="Email", name="Email", required)
        label(for="Name") Nombre de usuario:
        input(type="text", id="Name", name="Name", required)
        label(for="Password") Contraseña:
        input(type="text", id="Password", name="Password", required)
        label(for="Password_repeat") Confirmar contraseña:
        input(type="text", id="Password_repeat", name="Password_repeat", required)
        button(type="submit") Crear cuenta